Excel2Oracle/Connected Services/BGScreen/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BigScreen.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BigScreen.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20080/BigScreen/?xsd=xsd4" />
  <xs:complexType name="CurveDatas">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Curvedata">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TagName" nillable="true" type="xs:string" />
            <xs:element name="List" nillable="true" type="ArrayOfData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurveDatas" nillable="true" type="tns:CurveDatas" />
</xs:schema>